<h1>Directivas de navegación y salida de enrutador</h1>

<p>La directiva Router-Outlet permite que los componentes muestren datos dinámicamente en función de la URL o ruta del navegador existente. Se puede agregar dentro del archivo app.component.ts , y se pueden colocar múltiples salidas de enrutador en una aplicación Angular para cumplir con los casos de enrutamiento avanzado. 
    Para configurar los enrutadores en clase Angular y activa, tenemos routerLinky routerLinkActivedirectivas, vea a continuación cómo usamos ambas directivas de navegación en el archivo app.component.ts .
</p>

<img src="assets/Router.JPG" alt="Ejemplo de Event Binding" width="25%" height="25%" title="Ejemplo de Event Binding">

<p>En el presente proyecto se realiza el uso de estas directivas/p>
