<h1 style="text-align: center;">Data-Binding</h1>

<p>Data-Binding es el reflejo de la lógica o la variable en un modelo a la vista de una aplicación. Siempre que la variable cambie, la vista debe actualizar el DOM para reflejar los nuevos cambios.
    Los principales tipos de Data-Binding son:
</p>

<ol>
    <li><p>Template Expression : llaves</p></li>
    <li><p>Property Binding []</p></li>
    <li><p>Event Binding ()</p></li>
    <li><p>Banana in the Box [()]</p></li>
</ol>

<h2>Template Expression </h2>
<p>Este es un enlace unidireccional de la propiedad de un componente a la plantilla del componente.
    Lo que indica es que a nivel de la vista la variable cambia, pero el cambio de esa variable esta
    controlado en el archivo TS, en la imagen tenemos un ejemplo:
</p>

<img src="assets/imagen1.JPG" alt="Ejemplo de Template Expresion" width="25%" height="25%" title="Ejemplo Template Expresion">

<p>Como se puede observar este ejemplo recoge una variable que esta en el TS y la miestra en el HTML.
    Algunas maneras de Expresar la Expresion de plantilla son:
</p>
<ol>
    <li><p>llamadas a métodos</p></li>
    <li><p>Matematicas</p></li>
    <li><p>Condicionales</p></li>
    <li><p>Concatenacion de Cadenas</p></li>
</ol>

<h2>Property Binding [] </h2>
<p>Este es un enlace unidireccional de los datos de un modelo al destino de enlace.
    El destino de enlace puede ser propiedades de elementos, propiedades de componentes o propiedades de directivas directivas.
    Entre los corchetes se [] encuentra el nombre de la propiedad del modelo que se vinculará al elemento.</p>

    <img src="assets/Binding.JPG" alt="Ejemplo de Binding" width="25%" height="25%" title="Ejemplo de Binding">
<p>La propiedad imgdel elemento srcestá vinculada a la imageURLpropiedad en la clase AppComponent. La srcpropiedad en el imgelemento se usa para establecer la imagen que se mostrará en el elemento.</p>

<h2>Event Binding () </h2>
<p>En el DOM, los elementos pueden generar eventos y vinculamos cada evento con un controlador de eventos, una función que se ejecuta cuando se emite el evento.</p>
<img src="assets/event1.JPG" alt="Ejemplo de Event Binding" width="25%" height="25%" title="Ejemplo de Event Binding">
<p>Asimismo, en Angular podemos adjuntar eventos a nuestros elementos en la plantilla de nuestro componente, esto se hace usando los corchetes ().</p>
<img src="assets/event2.JPG" alt="Ejemplo de Event Binding" width="25%" height="25%" title="Ejemplo de Event Binding">

<h2>Banana in the Box [()] </h2>
<p>Esto es de gran utilidad ya que nos ayuda a cambiar la variable dede la vista y desde el TS, ejemplo
    en la vista modificamos el valor de una variable y en el TS se vera reflejado el cambio, y en el modelo podemos cambiar el valor
    y en la vista se va a ver rflejado.
</p>

<img src="assets/modelinthebox.JPG" alt="Model In The Box" width="25%" height="25%" title="Model In The Box">



