<h1>Descripcion de la Practica</h1>

<p>Para realizar esta practica tuve que crear un nuevo proyecto, instalar el archivo de app-routing.module.ts 
    para agregar los enlaces de las rutas. Tabien tuve que instalar boostrap para realizar la barra de navegacion.
    Para cada enlace tuve que crearle un componente para cada ruta, que representa un html.
</p>
