<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/creditos">Creditos</a>
      </li>
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/opcion1">Opcion 1</a>
      </li>
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/opcion2">Opcion 2</a>
      </li>
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/opcion3">Opcion 3</a>
      </li>
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/opcion4">Opcion 4</a>
      </li>
      <li  routerLinkActive="active"  >
        <a class="nav-link" routerLink="/opcion5">Opcion 5</a>
      </li>
      
    </ul>
  </nav>

  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>

  