<h1 style="text-align: center;">Comunicacion entre Componentes</h1>

<h1 >Comunicacion entre Padre e Hijo</h1>

<p>Se lo hace a través de un decorador @Input() que permite traspasar datos desde el template —o desde el archivo .html— </p>

<img src="assets/imputHijoComponent.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente hijo">
<img src="assets/imputPadreComponent.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente padre">

<p>el template html de los componentes directamente en el controlador para ahorrar espacio pero funciona igual si tienes un archivo html a parte. El valor de la variable childMessage viene desde el componente padre y se la pasamos desde el html mediante [childMessage].</p>

<h1 >Comunicacion entre Hijo y Padre mediante ViewChild()</h1>
<img src="assets/ViewChildHijoComponent.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente hijo">
<img src="assets/ViewChildPadreComponent.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente hijo">

<p>La particularidad de éste método es que tenemos que esperar a que la vista esté totalmente cargada para acceder a los atributos del hijo. Para ello creamos un método de Angular llamado ngAfterViewInit() en el que simplemente inicializamos la variable con el valor del atributo del hijo (el hijo lo declaramos como @ViewChild(ChildComponent)).</p>


<h1 >Comunicacion entre Hijo y Padre mediante output y eventos</h1>
<p>Éste método es útil cuando queremos queremos informar de cambios en los datos desde el hijo, por ejemplo, si tenemos un botón en el componente hijo y queremos actualizar los datos del padre.</p>

<img src="assets/Hijo.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente hijo">
<img src="assets/Padre.JPG" alt="Ejemplo de @Imput" width="25%" height="25%" title="Ejemplo de @Imput componente hijo">

<p>En el hijo declaramos un evento de tipo EventEmitter y con la pulsación del botón ejecutamos un método para lanzar el evento al padre. Desde el padre creamos una función para recibir el mensaje desde el evento y incluimos en la etiqueta del html (messageEvent)=”receiveMessage($event) para conectar el evento al método que hemos creado.</p>